html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}

.form {
    background: #282829;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E4C576;
}

.title {
    width: 100%;
    font-size: 2em;
    margin-bottom: 20px;
    color: #E4C576;
}

.formGroup {
    width: 90%;
    margin-bottom: 15px;
}

label {
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
    color: #E4C576;
}

input {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #A6A6A6;
    background: #333;
    color: #E4C576;
    font-size: 1.1em;
}

.submitButton {
    background: #E4C576;
    color: #282829;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    max-width: 200px;
}

.submitButton:hover {
    background: #d4b453;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}
