.contato{
    background: #282829;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.pageTitle{
    padding-top: 15px;
    font-size: 5.2vh;
    color: #E4C576;
    font-weight: 100;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.pageTitleActive{
    padding-top: 15px;
    font-size: 5.2vh;
    color: #E4C576;
    font-weight: 100;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-bottom: 2px solid #E4C576;
}

.planos{
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.25em;
    color: #E4C576;
    max-width: 70%;
    margin: 0 auto;
    font-weight: 300;
}

.pageTitle:hover{
    cursor: pointer;
}

.pageTitleActive:hover{
    cursor: pointer;
}

.pageDescription{
    padding-bottom: 70px;
    text-align: center;
    font-size: 1.25em;
    color: #A6A6A6;
    max-width: 70%;
    margin: 0 auto;
    font-weight: 300;
}

.icon{
    padding-top: 70px;
    width: 4vh;
    height: auto;
}

.container{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.contatoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.contatoImage{
    width:300px;
    height:200px;
    margin-bottom: 15px;
}

.contatoButton{
    background-color: transparent;
    border: 2px solid #E4C576;
    color: #E4C576;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-bottom: 25px;
}

.contatoButton:hover{
    background-color: #333334;
    color: #E4C576;
}

.contatoButton:active{
    background-color: #333334;
}

.item{
    min-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2{
    padding-top: 30px;
    text-align: center;
    font-weight: 300;
    color: #A6A6A6;
    font-size: 1.25em;
}

.containerArrowDown{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-top: 85vh;
}
.containerArrowDown:hover{
    cursor: pointer;
}
.arrowDown{
    color: #fff;
    position: absolute;
    animation: move 2.1s infinite ease-in-out;
}

.pageTopic{
    display:none;
}

.description{
    margin-top: 100px;
    font-size:1.5em;
    display: none;
}

.descriptionActive{
    margin-top: 100px;
    font-size:1.5em;
}

@media screen and (max-width:1200px) {

    .pageTopic{
        display:flex;
    }

    .pageTitleActive{
        border-bottom: none;
    }

    .description{
        display:none;
    }
    .descriptionActive{
        display:none;
    }

    .container{
        flex-direction: column;
        width: 70%;
        align-items: center;
    }
    .item{
        margin-top: 70px;
        min-width: 100%;
    }
    .containerArrowDown{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .pageDescription{
        font-size: 1em;
        max-width: 91%;
    }
}

@keyframes move {
    0%{margin-top: 0;}
    50%{margin-top: 25px;}
    100%{margin-top: 0;}
}