/* UR.module.css */

.ur {
    padding-top:80px;
    background-color: #282829;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.icon {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

.pageTitle {
    padding-top: 15px;
    font-size: 5.2vh;
    color: #E4C576;
    font-weight: 100;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.urContainer {
    flex: 1 1 calc(33.333% - 40px); /* Adjust for spacing */
    box-sizing: border-box;
    background: #3a3a3c;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.urContainer:hover {
    transform: scale(1.05);
}

.logo {
    text-decoration: none;
    color: inherit;
    display: block;
}

.urImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.urContainer h3 {
    color: #E4C576;
    font-size: 1.5em;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.containerArrowDown{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-top: 85vh;
}
.containerArrowDown:hover{
    cursor: pointer;
}
.arrowDown{
    color: #fff;
    position: absolute;
    animation: move 2.1s infinite ease-in-out;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .urContainer {
        flex: 1 1 calc(50% - 20px); /* Adjust for spacing */
    }
}

@media screen and (max-width: 480px) {
    .urContainer {
        flex: 1 1 100%; /* Full width on small screens */
    }

    .pageTitle {
        font-size: 2em;
    }

    .arrowDown {
        font-size: 1.5em;
    }
}

/* Animação para a seta */
@keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

.signupPrompt {
    margin-top: 100px;
    color: #E4C576;
}

.signupLink {
    color: #E4C576;
    text-decoration: none;

}

.signupLink:hover {
    text-decoration: underline;
}
